In [1]:
import pandas as pd

In [2]:
url = 'https://www.bls.gov/web/metro/laummtrk.htm#laummtrk.f.p'

In [3]:
tables = pd.read_html(url)
tables

[                                     Metropolitan area  \
 0                                        United States
 1                                                  NaN
 2    Kahului-Wailuku-Lahaina, HI Metropolitan Stati...
 3     Urban Honolulu, HI Metropolitan Statistical Area
 4               Ames, IA Metropolitan Statistical Area
 ..                                                 ...
 389             Yuma, AZ Metropolitan Statistical Area
 390        El Centro, CA Metropolitan Statistical Area
 391  Footnotes  (p) Preliminary  (1) Area boundarie...
 392  Note: Rates shown are a percentage of the labo...
 393  BROWSE LAU  LAU HOME  LAU OVERVIEW  LAU NEWS R...

                                      March 2020(p)rate  \
 0                                                  4.5
 1                                                  NaN
 2                                                  2.1
 3                                                  2.1
 4                                                  2.2
 ..                                                 ...
 389                                               14.8
 390                                               20.5
 391  Footnotes  (p) Preliminary  (1) Area boundarie...
 392  Note: Rates shown are a percentage of the labo...
 393  Unemployment Rates for Metropolitan Areas, Not...

                                                   Rank
 0                                                  NaN
 1                                                  NaN
 2                                                    1
 3                                                    1
 4                                                    3
 ..                                                 ...
 389                                                388
 390                                                389
 391  Footnotes  (p) Preliminary  (1) Area boundarie...
 392  Note: Rates shown are a percentage of the labo...
 393                                                NaN

 [394 rows x 3 columns],
                                      Metropolitan area  \
 0                                        United States
 1                                                  NaN
 2    Kahului-Wailuku-Lahaina, HI Metropolitan Stati...
 3     Urban Honolulu, HI Metropolitan Statistical Area
 4               Ames, IA Metropolitan Statistical Area
 ..                                                 ...
 388  Visalia-Porterville, CA Metropolitan Statistic...
 389             Yuma, AZ Metropolitan Statistical Area
 390        El Centro, CA Metropolitan Statistical Area
 391  Footnotes  (p) Preliminary  (1) Area boundarie...
 392  Note: Rates shown are a percentage of the labo...

                                      March 2020(p)rate  \
 0                                                  4.5
 1                                                  NaN
 2                                                  2.1
 3                                                  2.1
 4                                                  2.2
 ..                                                 ...
 388                                               14.5
 389                                               14.8
 390                                               20.5
 391  Footnotes  (p) Preliminary  (1) Area boundarie...
 392  Note: Rates shown are a percentage of the labo...

                                                   Rank
 0                                                  NaN
 1                                                  NaN
 2                                                    1
 3                                                    1
 4                                                    3
 ..                                                 ...
 388                                                387
 389                                                388
 390                                                389
 391  Footnotes  (p) Preliminary  (1) Area boundarie...
 392  Note: Rates shown are a percentage of the labo...

 [393 rows x 3 columns]]

In [4]:
df = tables[0]
df.columns = ['Metropolitan area', 'Unemployment Rate', 'Rank']
df.dropna(inplace=True)
df2 = df.iloc[:389,]
df2["Year"] = 2020
df2["Month"] = 3
df2

/opt/anaconda3/envs/pythondata/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/opt/anaconda3/envs/pythondata/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Metropolitan area,Unemployment Rate,Rank,Year,Month
2,"Kahului-Wailuku-Lahaina, HI Metropolitan Stati...",2.1,1,2020,3
3,"Urban Honolulu, HI Metropolitan Statistical Area",2.1,1,2020,3
4,"Ames, IA Metropolitan Statistical Area",2.2,3,2020,3
5,"Ann Arbor, MI Metropolitan Statistical Area",2.4,4,2020,3
6,"Idaho Falls, ID Metropolitan Statistical Area",2.4,4,2020,3
...,...,...,...,...,...
386,"Hanford-Corcoran, CA Metropolitan Statistical ...",12.3,385,2020,3
387,"Merced, CA Metropolitan Statistical Area",12.9,386,2020,3
388,"Visalia-Porterville, CA Metropolitan Statistic...",14.5,387,2020,3
389,"Yuma, AZ Metropolitan Statistical Area",14.8,388,2020,3
390,"El Centro, CA Metropolitan Statistical Area",20.5,389,2020,3

Pandas also had a `to_html` method that we can use to generate HTML tables from DataFrames.

In [5]:
new = df2["Metropolitan area"].str.split(", ", n = 1, expand = True)
df2["City/Area"] = new[0]
new2 = new[1].str.split(" ", n = 1, expand = True)
df2["State"] = new2[0]
df2

/opt/anaconda3/envs/pythondata/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/opt/anaconda3/envs/pythondata/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

,Metropolitan area,Unemployment Rate,Rank,Year,Month,City/Area,State
2,"Kahului-Wailuku-Lahaina, HI Metropolitan Stati...",2.1,1,2020,3,Kahului-Wailuku-Lahaina,HI
3,"Urban Honolulu, HI Metropolitan Statistical Area",2.1,1,2020,3,Urban Honolulu,HI
4,"Ames, IA Metropolitan Statistical Area",2.2,3,2020,3,Ames,IA
5,"Ann Arbor, MI Metropolitan Statistical Area",2.4,4,2020,3,Ann Arbor,MI
6,"Idaho Falls, ID Metropolitan Statistical Area",2.4,4,2020,3,Idaho Falls,ID
...,...,...,...,...,...,...,...
386,"Hanford-Corcoran, CA Metropolitan Statistical ...",12.3,385,2020,3,Hanford-Corcoran,CA
387,"Merced, CA Metropolitan Statistical Area",12.9,386,2020,3,Merced,CA
388,"Visalia-Porterville, CA Metropolitan Statistic...",14.5,387,2020,3,Visalia-Porterville,CA
389,"Yuma, AZ Metropolitan Statistical Area",14.8,388,2020,3,Yuma,AZ
390,"El Centro, CA Metropolitan Statistical Area",20.5,389,2020,3,El Centro,CA

In [6]:
df2.to_csv("unemployment.csv", index=False, header=True)